.portfolioSection {
  padding-top: 20px;
  background: #DCC7AA;
}
.project {
  background-color: white;
  width: 325px;
  height: 520px; 
  margin-bottom: 40px;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 1px 7px 1.5px rgba(0,0,0,0.2);
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
  overflow: hidden;
}
.project .description {
min-height: 120px;
}
.projectBody {
width: 100%;
display: block;
height: 460px;
background-color: #F0F0F0;
overflow: hidden;
}
.projectBody p, .projectBody h1 {
padding: 2px 2px;
}
.projectImg {
width: 100%;
height: 200px;
overflow: hidden;
transition: 0.4s ease-in;
display: block;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
*{
border: 0;
padding: 0;
margin: 0;
}

.img-hover-zoom {
height: 200px; 
overflow: hidden; 
}

.img-hover-zoom img {
transition: transform .7s ease;
}

.img-hover-zoom:hover img {
transform: scale(1.5);
}
.portfolioSection i {
color: #086788;
}
.projectBody a:hover {
  color: #F7882F;
}
.projectBody a:active {
  color: #6B7A8F;
}
.projectBody h3 {
  color: #086788;
}