.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.wrap {
	perspective: 800px;
  perspective-origin: 50% 100px;
  margin-top: 400px;
}

.cube {
	position: relative;
	width: 200px;
	transform-style: preserve-3d;
}
.cube div {
	position: absolute;
	width: 200px;
	height: 200px;
}

.back {
  transform: translateZ(-100px) rotateY(180deg);
	background-color: rgba(255, 255, 255, 0);
	border-color: black;
	border-width: 2px;
}
.right {
	transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
  background-color: rgba(255, 255, 255, 0);
}
.left {
	transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
	background-color: rgba(255, 255, 255, 0);
}
.top {
	transform: rotateX(-90deg) translateY(-100px);
  transform-origin: top center;
  background-color: rgba(255, 255, 255, 0);
}
.bottom {
	transform: rotateX(90deg) translateY(100px);
  transform-origin: bottom center;
  background-color: rgba(255, 255, 255, 0);
}
.front {
  transform: translateZ(100px);
	background-color: rgba(255, 255, 255, 0);
}
@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube {
	animation: spin 5s infinite linear;
}
 

/* 

 //second try cube 
 *, *:before, *:after { box-sizing: border-box; }
* { user-select: none; -webkit-tap-highlight-color: rgba(0,0,0,0); transform-style: preserve-3d; }
*:focus { outline: none!important; }

 .skillsContainer {
 display: flex;
 align-items: center;
 align-content: center;
 justify-content: center;
 padding: 12px;
 background: mix(#53a0fe, #b4ed50);
 background: linear-gradient(135deg, #3023ae 0%, #53a0fe 50%, #b4ed50 100%);
 height: 30vh;
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3023ae', endColorstr='#b4ed50',GradientType=1 );
 font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;;
 text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
 }

 ul {
	perspective: 1000px;
	transform: translateZ(96px);
	display: flex;
	list-style: none;
	margin: 0;
	padding: 12px;
	
}
ul li {
  padding: 12px;
}

.clips {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
	z-index: -100;
}

.link {
	position: relative;
	width: 96px;
	height: 96px;
}

.link a {
		/* transform-origin: $p*4 $p*4 -#{$p*4}; */
		/* display: block;
		position: absolute;
		z-index: 1;
		transform: translateZ(24px);
		width: 100%;
		height: 100%;
		&:nth-child(1) {
			top: 0;
			left: 0;
			height: 50%;
			clip-path: polygon(50% 100%, 0 0, 100% 0);
			@-moz-document url-prefix() {
				clip-path: url(#clip-top);
			}
			&:hover, &:focus {
				~ .cube {
					transform: rotateX(-0.5turn);
					div:nth-child(6) {
						transform: rotateY(180deg) rotateZ(180deg) translateZ($p*8);
					}
				}
			}
		}
		&:nth-child(2) {
			top: 0;
			right: 0;
			width: 50%;
			clip-path: polygon(100% 100%, 0 50%, 100% 0);
			@-moz-document url-prefix() {
				clip-path: url(#clip-right);
			}
			&:hover, &:focus {
				~ .cube {
					transform: rotateY(-0.5turn);
				}
			}
		}
		&:nth-child(3) {
			bottom: 0;
			right: 0;
			height: 50%;
			clip-path: polygon(0 100%, 50% 0, 100% 100%);
			@-moz-document url-prefix() {
				clip-path: url(#clip-bottom);
			}
			&:hover, &:focus {
				~ .cube {
					transform: rotateX(0.5turn);
					div:nth-child(6) {
						transform: rotateY(180deg) rotateZ(180deg) translateZ($p*8);
					}
				}
			}
		}
		&:nth-child(4) {
			bottom: 0;
			left: 0;
			width: 50%;
			clip-path: polygon(0 100%, 0 0, 100% 50%);
			@-moz-document url-prefix() {
				clip-path: url(#clip-left);
			}
			&:hover, &:focus {
				~ .cube {
					transform: rotateY(0.5turn);
				}
			}
		}
		&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
			&:hover, &:focus {
				z-index: 2;
				transform: translateZ(#{$p*3});
				width: 100%!important;
				height: 100%!important;
				-webkit-clip-path: none!important;
				clip-path: none!important;
				transition: all 100ms ease 500ms;
			}
		}
}

.cube {
	transform-origin: $p*4 $p*4 -#{$p*4};
	position: relative;
	z-index: 0;
	display: block;
	width: 100%;
	height: 100%;
	transition: all 300ms ease-out;
	div {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: white;
		// border-radius: 3px;
		svg {
			width: $p*4;
			height: $p*4;
			path:not(.fill) {
				fill: none;
				stroke: white;
				stroke-width: 5px;
				stroke-linecap: round;
				stroke-linejoin: round;
			}
			path.fill {
				fill: white;
			}
		}
		// top
		&:nth-child(1) {
			transform-origin: center top;
			transform: rotateX(90deg) translateY(#{-($p*8)});
		}
		// bottom
		&:nth-child(2) {
			transform-origin: center bottom;
			transform: rotateX(-90deg) translateY($p*8);
		}
		// left
		&:nth-child(3) {
			transform-origin: left center;
			transform: rotateY(-90deg) translateX(#{-($p*8)});
		}
		// right
		&:nth-child(4) {
			transform-origin: right center;
			transform: rotateY(90deg) translateX($p*8);
		}
		// front
		&:nth-child(5) {
			transform-origin: center center;
			transform: rotateX(0);
		}
		// back
		&:nth-child(6) {
			transform-origin: center center;
			transform: rotateY(180deg) translateZ($p*8);
		}
	}
	&.codepen {
		div {
			// top
			&:nth-child(1) {
				background: lighten(#fcd000, 35%);
			}
			// bottom
			&:nth-child(2) {
				background: lighten(#fcd000, 10%);
			}
			// left
			&:nth-child(3) {
				background: lighten(#fcd000, 20%);
			}
			// right
			&:nth-child(4) {
				background: lighten(#fcd000, 20%);
			}
			// front
			&:nth-child(5) {
				background: #fcd000;
			}
			// back
			&:nth-child(6) {
				background: white;
				color: #fcd000;
			}
		}
	}
	&.github {
		div {
			// top
			&:nth-child(1) {
				background: lighten(#4183c4, 35%);
			}
			// bottom
			&:nth-child(2) {
				background: lighten(#4183c4, 10%);
			}
			// left
			&:nth-child(3) {
				background: lighten(#4183c4, 20%);
			}
			// right
			&:nth-child(4) {
				background: lighten(#4183c4, 20%);
			}
			// front
			&:nth-child(5) {
				background: #4183c4;
			}
			// back
			&:nth-child(6) {
				background: white;
				color: #4183c4;
			}
		}
	}
} */ 

.landing {
  background-image: url("https://images.unsplash.com/photo-1482828091712-bf720a2568ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  height: 100vh;
} 

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  z-index: -5;
}
h1 {
  color: white;
  margin:auto;
  font-family: 'Advent Pro', sans-serif;
}
.skills {
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
  width: 100px;
}