.navbar-group {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.navbar-group.logo-container {
    flex-grow: 0;
}

.navbar-group-right {
    justify-content: flex-end;
}
.navbar {
    height: 60px;
}
.greendot{
    width: 150px;
    z-index: 1;
}
.tan {
    background-color: #DCC7AA;
}