.navbar {
    height: 70px;
}
.blue {
    background-color: #086788;
  }
.blue a {
    color: white;
}
.navbar {
    border-bottom: 2px solid #F7882F;
}
.initals {
    color:#F7882F;
    font-size: 40px;
    font-family: 'Merienda One', cursive;
    border: 3px solid #F7882F;
    padding: 10px 15px 10px 15px;
    background-color:#086788;
    margin-top: 22px;
}

.project .icon {
    color: #086788;
    border-radius: 20px;
}
.navbar i:hover, .navbar a:hover {
    color: #DCC7AA;
}
  
.navbar i {
  color: #F7882F
}
.navbar i:active, .navbar a:active{
    color: #6B7A8F
}
